<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center"> Información salarial</h1>
        <hr class="my-1">
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Primer apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Salario por hora</th>
                    <th>Jornada diaria</th>
                    <th>Cargo que desempeña</th>
                    <th>Aumentos</th>
                    <th>Retenciones</th>
                    <th>Incapacidades</th>
                </tr>
            </thead>
            <tbody>
                {{#each dataSalary}}
                <tr>
                    <td>{{cedula}}</td>
                    <td>{{nombre}}</td>
                    <td>{{p_apellido}}</td>
                    <td>{{s_apellido}}</td>
                    <td>{{salario_hora}}</td>
                    <td>{{jornada}}</td>
                    <td>{{nombre_cargo}}</td>
                    <td><a href="/salary/admIncrease/{{id}}" title="Aplicar aumento"
                            class="btn btn-principal btn-block"><i class="material-icons">
                                trending_up
                            </i></a></td>
                    <td><a href="/salary/admTax/{{id}}" title="Realizar retención"
                            class="btn btn-secondary btn-block"><i class="material-icons">
                                trending_down
                            </i></a></td>
                    <td><a href="/salary/admInability/{{id}}" title="Realizar retención" class="btn btn-danger btn-block"><i
                                class="material-icons">
                                local_hospital
                            </i></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>