<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center">Aumento salarial</h1>
        <p class="lead text-center">Información de aumentos salariales</p>
        <hr class="my-1">
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card-body">
                <div class="form-group">
                    <h4>Nombre del trabajador:</h4>
                    <P>{{dataSalary.nombre}} {{dataSalary.p_apellido}} {{dataSalary.s_apellido}}</P>
                    <h4>Cargo que desempeña</h4>
                    <p>{{dataSalary.nombre_cargo}}</p>
                    <h4>Información salarial</h4>
                    <p>Salario por hora: ₡ <span>{{dataSalary.salario_hora}}</span></p>
                    <p>Jornada diaria: <span>{{dataSalary.jornada}}</span> horas</p>
                    <h3>Realizar aumento salarial</h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Realizar aumento salarial</h3>
            <form action="/salary/admIncrease/{{dataSalary.id}}" method="POST">
                <div class="form-group">
                    <input type="number" min="1" class="form-control" name="cantidad" placeholder="salario por hora"
                        required>
                </div>
                <div class="form-group">
                    {{!-- CONFIRMAR --}}
                    <button type="button" class="btn btn-principal btn-block" data-toggle="modal"
                        data-target="#confirmarAumento">
                        Aceptar
                    </button>
                    <div class="modal fade" id="confirmarAumento" tabindex="-1" role="dialog"
                        aria-labelledby="confirmarAumento" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="exampleModalLongTitle"><i
                                            class="material-icons">
                                            warning
                                        </i>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Actualmente {{dataSalary.nombre}} {{dataSalary.p_apellido}} gana ₡
                                    {{dataSalary.salario_hora}} por hora,
                                    estás a punto de <span class="text-danger"><b>sumar</b></span> el valor
                                    ingresado a la cantidad mostrada.
                                    Esto afecta al salario actual por hora laboral. ¿Desea continuar?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" title="Cancelar" class="btn btn-secondary" data-dismiss="modal"><i
                                            class="material-icons">
                                            clear
                                        </i></button>
                                    <button type="submit" title="Realizar aumento salarial" class="btn btn-principal"><i class="material-icons">
                                            check
                                        </i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- CONFIRMAR --}}
                </div>
            </form>
        </div>
    </div>

    {{!-- RETENCION --}}
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Fecha de registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>₡ {{cantidad}}</td>
                            <td>{{fecha}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>