<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h3 class="text-center">Retención salarial</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card-body">
                <div class="form-group">
                    <h4>Nombre del trabajador:</h4>
                    <P>{{dataUser.nombre}} {{dataUser.p_apellido}} {{dataUser.s_apellido}}</P>
                    <h4>Cargo que desempeña</h4>
                    <p>{{dataRole.nombre_cargo}}</p>
                    <h4>Información salarial</h4>
                    <p>Salario por hora: ₡ <span>{{dataSalary.salario_hora}}</span></p>
                    <p>Jornada diaria: <span>{{dataSalary.jornada}}</span> horas</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Realizar aumento salarial</h3>
            <form action="/salary/admTax/{{dataUser.id}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="number" class="form-control" name="retencion" placeholder="Monto a retener" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="descripcion" placeholder="Motido de la retención"
                        required>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control-file" name="url_documento" placeholder="adjuntar un archivo"
                        required>
                </div>
                <div class="form-group">
                    {{!-- CONFIRMAR --}}
                    <button type="button" class="btn btn-success btn-block" data-toggle="modal"
                        data-target="#confirmarRetencion">
                        Aceptar
                    </button>
                    <div class="modal fade" id="confirmarRetencion" tabindex="-1" role="dialog"
                        aria-labelledby="confirmarRetencion" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="exampleModalLongTitle">
                                        Importante</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Estas a punto de <span class="text-danger"><b>retener</b></span> el
                                    valor ingresado para el trabajador {{dataSalario.nombre}}.
                                    Esto afecta al salario actual del trabajador
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-success">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- CONFIRMAR --}}
                </div>
            </form>
        </div>
    </div>

    {{!-- RETENCION --}}
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Número de retención</th>
                            <th>Fecha de registro</th>
                            <th>Motivo</th>
                            <th>Retención salarial</th>
                            <th>Documento</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{fecha}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{retencion}}</td>
                            <td><a href="http://localhost:4000/uploads/{{url_documento}}">consultar documento</a>
                            </td>
                            <td><a href="/adm/permiso/editar/{{id}}" class="btn btn-info">Revisar</a></td>
                            <td><a href="/adm/permiso/borrar/{{id}}" class="btn btn-danger">Revisar</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>