<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center"> Información salarial</h1>
        <hr class="my-1">
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="card ">
                <div class="card-title jumbo p-4">
                    <h4 class="card-title text-center text-uppercase">Salario actual</h4>
                </div>
                <div class="card-body">
                    <p>Salario por hora: ₡ <span>{{dataSalary.salario_hora}}</span></p>
                    <p>Horas al dia: {{dataSalary.jornada}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-title jumbo p-3">
                    <h4 class="card-title text-center text-uppercase">Último aumento recibído</h4>
                </div>
                <div class="card-body">
                    {{#unless dataIncrease}}
                    <p>No hay informacion de aumentos salariales</p>
                    {{else}}
                    <p>Fecha excta del último aumento:</p>
                    <p><span>{{dataIncrease.fecha}}</span></p>
                    <p>El último aumento fue de: <br> ₡ <span>{{dataIncrease.cantidad}}</span> a la hora laboral</p>
                    <p>Recibido: {{timesago dataIncrease.timeAgo}}</p>
                    {{/unless}}
                </div>
            </div>
            <div class="my-4"></div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-title jumbo p-4">
                    <h4 class="card-title text-center text-uppercase">Retenciones al salario</h4>
                </div>
                <div class="card-body">
                    {{#unless dataWageWithHolding}}
                    <p>No hay retenciones salariales.</p>
                    {{else}}
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Monto retenido</th>
                                    <th>Fecha</th>
                                    <th>Descripcion</th>
                                    <th>Revisar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each dataWageWithHolding}}
                                <tr>
                                    <td>{{retencion}}</td>
                                    <td>{{fecha}}</td>
                                    <td>{{descripcion}}</td>
                                    <td><a href="http://localhost:4000/uploads/{{url_documento}}"
                                            class="btn btn-principal">Revisar</a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
    <div class="row">
        {{#unless arrayIncrease}}
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-title text-center text-uppercase jumbo p-4">
                    <p>Aumentos salariales</p>
                </div>
                <div class="card card-body text-center">
                    <p>No hay informacion sobre aumentos salariales</p>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-12 mx-auto">
            <div class="card ">
                <div class="card-title jumbo p-4">
                    <h4 class="card-title text-center jumbo text-uppercase">Historial de aumentos al salario</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each arrayIncrease}}
                                <tr>
                                    <td>{{fecha}}</td>
                                    <td>₡ {{cantidad}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{/unless}}
    </div>
</div>