<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-title jumbo p-4">
                    <h1 class="text-center">Editar registro disciplinario</h1>
                </div>
                <div class="card-body">
                    <form action="/conduct/admEditRegister/{{data.id}}" method="POST">
                        <div class="form-group">
                            <label for="">Motivo del registro</label>
                            <input type="text" class="form-control" value="{{data.descripcion}}" name="descripcion" placeholder="Descripción" autofocus required>
                        </div> <div class="form-group">
                            <label for="">Fecha del insidente</label>
                            <input type="date" id="fecha" value="{{data.fecha}}" max={{date.fecha}} class="form-control" name="fecha" placeholder="fecha del permiso" required>
                        </div>
                        {{!-- CONFIRMAR --}}
                    <button type="button" class="btn btn-principal btn-block" data-toggle="modal"
                        data-target="#confirmarAumento">
                        Aceptar
                    </button>
                    <div class="modal fade" id="confirmarAumento" tabindex="-1" role="dialog"
                        aria-labelledby="confirmarAumento" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="exampleModalLongTitle">Importante
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Estás por <span class="text-danger"><b>editar</b></span> el registro de una conducta para el trabajador 
                                    {{data.nombre}} {{data.p_apellido}} {{data.s_apellido}}.<br>
                                    Esta información será visible para el trabajador. ¿Desea continuar?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-principal">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- CONFIRMAR --}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>