<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center">Informacíon de conductas indebidas</h1>
        <hr class="my-1">
        {{#if count.count}}
        <p class="text-center">Tienes: {{count.count}} observaciones</p>
        {{else}}
        <p class="text-center">No tiene observaciones</p>
        {{/if}}
    </div>
    <div class="row">
        {{#each dataConducts}}
        <div class="col-md-6 mx-auto">
            <div class="card ">
                <div class="card-head jumbo-danger p-4">
                    <h3 class="card-title text-center">
                        Importante!
                    </h3>
                </div>
                <div class="card-body">
                    <p>Hola: {{nombre}} {{p_apellido}} tienes un nuevo registro a la conducta.</p>
                    <p>Motivo: <span>{{descripcion}}</span></p>
                    <p>Fecha: <span>{{fecha}}</span></p>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No existen registros <i class="material-icons">
                        thumb_up
                    </i></p>
            </div>
        </div>
        {{/each}}
    </div>
</div>