<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#each data}}
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-body">
                        <h3 class="card-title text-center text-info">
                            Información sobre mis horas extra laboradas
                        </h3>
                        <p>Fecha: <span>{{fecha}}</span></p>
                        <p>Motivo: <span>{{motivo}}</span></p>
                        <p>Estado {{aprobado}}</p>
                        <a href="/permisos/borrar/{{id}}" class="btn btn-danger">Borrar</a>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay horas extra registradas</p>
                    <a href="/overTime/newRegister">¿Necesitas registras nuevas horas extra laboradas?</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>