<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center">Horas Extra</h1>
        <p class="lead text-center">Información relacionada con las horas extras laboradas</p>
        <hr class="my-1">
        {{#if data}}
        <p class="text-center"><a class="btn btn-principal" href="/overTime/newRegister">¿Necesitas registrar nuevas horas extra laboradas?</a></p>
        {{/if}}
    </div>
    <div class="row">
        {{#each data}}
        <div class="col-md-4 mx-auto">
            <div class="card ">
                    <div class="card-title jumbo p-4">
                        <h3 class="card-title text-center">Información sobre el registro</h3 >
                    </div>
                <div class="card-body">
                    <p>Fecha: <span>{{fecha}}</span></p>
                    <p>Motivo: <span>{{motivo}}</span></p>
                    <p>Estado: {{informacion_estado}}</p>
                    <a href="/overTime/userDelete/{{id}}" class="btn btn-danger btn-block">Borrar</a>
                </div>
            </div>
            <div class="my-3"></div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay horas extra registradas</p>
                <a href="/overTime/newRegister">¿Necesitas registras nuevas horas extra laboradas?</a>
            </div>
        </div>
        {{/each}}

    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>