<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center">Tareas pendientes</h1>
        <hr class="my-1">
    </div>
    <div class="row">
        {{#each dataToDo}}
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-head jumbo p-4">
                    <h3 class="card-title text-center text-uppercase">
                        {{titulo}}
                    </h3>
                </div>
                <div class="card-body">
                    <h3>Descripcion</h3>
                    <p><span>{{descripcion}}</span></p>
                    <h3>Solicitado</h3>
                    <p><span>{{timesago fecha_solicitud}}</span></p>
                    <a href="/tasks/userCheck/{{id}}" class="btn btn-principal btn-block">Marcar como realizado</a>
                </div>
            </div>
            <div class="my-3"></div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay tareas pendientes <span><i class="material-icons">
                            insert_emoticon
                        </i></span> </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>