<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2>Borrar permiso</h2>
                    <br>
                    <h4>Nombre del empleado:</h4>
                    <p><span>{{data.cedula}}</span></p>
                    <h4>Motivo del permiso:</h4>
                    <p><span>{{data.descripcion}}</span></p>
                    <h4>Fecha en que solicitó el permiso:</h4>
                    <p><span>{{data.fecha_solicitud}}</span></p>
                    <h4>Fecha del permiso</h4>
                    <p><span>{{data.fecha_salida}}</span></p>
                    <h1>ID</h1>
                    <p>{{data.id}}</p>
                    <h3>Importante</h3>
                    <p class="m-2">Esta apunto de borrar un permiso, sin embargo, el administrador aun tiene acceso a la información</p>
                    <form action="/permisos/borrar/{{data.id}}" method="POST">
                    <button class= "btn btn-danger">Borrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>