<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center">Planilla</h1>
        <hr class="my-1">
        <p class="text-center">Pagos a los trabajadores</p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Primer apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Fecha de contratación</th>
                    <th>Cargo</th>
                    <th>Salario por hora</th>
                    <th>Jornada</th>
                    <th>Consultar</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{cedula}}</td>
                    <td>{{nombre}}</td>
                    <td>{{p_apellido}}</td>
                    <td>{{s_apellido}}</td>
                    <td>{{fecha_contrato}}</td>
                    <td>{{nombre_cargo}}</td>
                    <td>{{salario_hora}}</td>
                    <td>{{jornada}}</td>
                    <td><a href="/payRoll/admCheck/{{id}}" class="btn btn-principal btn-block"><i
                                class="material-icons">
                                search
                            </i></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>