<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center">Fechas vacacionales</h1>
        <hr class="my-1">
        <p class="text-center"><a class="btn btn-principal" href="vacations/listRegisters">Historial de vacaciones</a></p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Segundo Apellido</th>
                    <th>Primer apellido</th>
                    <th>Nombre</th>
                    <th>Días disponibles</th>
                    <th>Cargo</th>
                    <th>Días que se retira</th>
                    <th>Fecha de salida</th>
                    <th>Fecha de entrada</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{cedula}}</td>
                    <td>{{s_apellido}}</td>
                    <td>{{p_apellido}}</td>
                    <td>{{nombre}}</td>
                    <td>{{dias}}</td>
                    <td>{{nombre_cargo}}</td>
                    <td>{{diferencia}}</td>
                    <td>{{fecha_salida}}</td>
                    <td>{{fecha_entrada}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>