{{!-- <div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h2>Otorgar bono</h2>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Primer apellido</th>
                                <th>Segundo apellido</th>
                                <th>Fecha contratación</th>
                                <th>Cargo </th>
                                <th>Otorgar un insentivo laboral</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each dataUsuarios}}
                            <tr>
                                <td>{{cedula}}</td>
                                <td>{{nombre}}</td>
                                <td>{{p_apellido}}</td>
                                <td>{{s_apellido}}</td>
                                <td>{{fecha_contrato}}</td>
                                <td>{{nombre_cargo}}</td>
                                <td><a href="/bonos/nuevo/{{id}}" class="btn btn-info">Revisar</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Bonos otorgados anteriormente</h2>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Primer apellido</th>
                                <th>Segundo apellido</th>
                                <th>Fecha de realización</th>
                                <th>Motivo</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each dataBonos}}
                            <tr>
                                <td>{{cedula}}</td>
                                <td>{{nombre}}</td>
                                <td>{{p_apellido}}</td>
                                <td>{{s_apellido}}</td>
                                <td>{{fecha_bono}}</td>
                                <td>{{motivo}}</td>
                                <td>{{cantidad}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> --}}