<div class="container">
    {{!-- UPDATA SALARIOS --}}
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-head"><br>
                    <h3 class="text-center">Aumento salarial</h3>
                </div>
                <div class="card-body">
                    <h4>Nombre del trabajador:</h4>
                    <P>{{data.nombre}} {{data.p_apellido}} {{data.s_apellido}}</P>
                    <h4>Cargo que desempeña</h4>
                    <p>{{data.nombre_cargo}}</p>
                    <h4>Información salarial</h4>
                    <p>Salario por hora: ₡ <span>{{data.salario_hora}}</span></p>
                    <p>Jornada diaria: <span>{{data.jornada}}</span> horas</p>
                    <h3>Realizar aumento salarial</h3>
                    <form action="permisos/nuevo" method="POST">
                        <div class="form-group">
                            <input type="number" class="form-control" name="jornada" placeholder="jornada diaria">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="salario_hora"
                                placeholder="salario por hora">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Realizar aumento</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="card-head">
                    <br>
                    <h3 class="text-center">Retención salarial</h3>
                </div>
                <div class="card-body">
                    cuerpo
                </div>
            </div>
        </div>
    </div>
    {{!-- RETENCION --}}
</div>