<div class="container p-4">
    <div class="card">
        <div class="card-title jumbo p-4">
            <h2>Información del permiso</h2>
        </div>
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card-body">
                    <h4>Nombre del empleado:</h4>
                    <p><span>{{data.nombre}} {{data.p_apellido}} {{data.s_apellido}}</span></p>
                    <h4>Motivo del permiso:</h4>
                    <p><span>{{data.descripcion}}</span></p>
                    <h4>Fecha en que solicitó el permiso:</h4>
                    <p><span>{{data.fecha_solicitud}}</span></p>
                    <h4>Fecha del permiso</h4>
                    <p><span>{{data.fecha_salida}}</span></p>
                    <h4>Hora de salida: </h4>
                    <p><span>{{data.hora_salida}}</span></p>
                    <h4>Duración del permiso: </h4>
                    <p><span>{{data.horas}} horas</span></p>
                </div>
            </div>


            <div class="col-md-5 mx-auto">

                <div class="card-body">
                    <h3>Revision del permiso</h3>
                    <form action="/permits/admCheck/{{data.id}}" method="POST">
                        <div class="form-group">
                            <input type="radio" required name="estado" value="1"> Pendiente<br>
                            <input type="radio" required name="estado" value="2"> Aprobado<br>
                            <input type="radio" required name="estado" value="3"> Rechazado<br>
                        </div>
                        <div class="form-group">
                            <label for="">Información adicional</label>
                            <input type="text" value="{{data.informacion_estado}}" class="form-control"
                                name="informacion_estado" placeholder="Información adicional" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-principal btn-block">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>