<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center">Historial</h1>
        {{#if year}}
        <p class="lead text-center">Lista de permisos del mes {{month}} y año {{year}}</p>
        {{else}}
        <p class="lead text-center">Lista de permisos en la fecha </p>
        {{/if}}
        <form action="/permits/listRegisters" method="POST">
            <div class="form-group">
                <label for="">Seleccione una fecha</label>
                <input type="date" class="form-control" max="{{date.fecha}}" value="{{date.fecha}}" name="fecha"
                    placeholder="fecha" required>
            </div>
            <div class="form-group">
                <button class="btn btn-principal btn-block">Consultar</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-title jumbo p-2">
                    <h5 class="text-center text-uppercase">Permisos pendientes</h5>
                </div>
                <div class="card-body">
                    {{#if dataToDo}}
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Descripcion</th>
                                    <th>Nombre</th>
                                    <th>Estado</th>
                                    <th>Rol</th>
                                    <th>Solicitado</th>
                                    <th>Revisar</th>
                                    {{!-- <th>Eliminar</th> --}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#each dataToDo}}
                                <tr>
                                    <td>{{titulo}}</td>
                                    <td>{{descripcion}}</td>
                                    <td>{{nombre}} {{p_apellido}} {{s_apellido}}</td>
                                    <td>{{estado}}</td>
                                    <td>{{nombre_cargo}}</td>
                                    <td>{{timesago fecha_solicitud}}</td>
                                    <td><a href="/permits/admCheck/{{id}}" class="btn btn-block btn-principal"><i
                                                class="material-icons">
                                                search
                                            </i></a>
                                    </td>
                                    {{!-- <td><a href="/permits/admDelete/{{id}}" class="btn btn-block btn-secondary"><i
                                                class="material-icons">
                                                clear
                                            </i></a>
                                    </td> --}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{else}}
                    <p class=" text-center"> No hay registros</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="m-2"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title jumbo p-2">
                    <h4 class="text-center text-uppercase">Permisos aprobados</h4>
                </div>
                <div class="card-body">
                    {{#if dataDone}}
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Descripción</th>
                                    <th>Solicitud creada</th>
                                    <th>Estado</th>
                                    <th>Rol</th>
                                    <th>Solicitado por</th>
                                    <th>Fecha de salida</th>
                                    <th>Duración</th>
                                    <th>Fecha exacta de solicitud</th>
                                    <th>Descargar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each dataDone}}
                                <tr>
                                    <td>{{titulo}}</td>
                                    <td>{{descripcion}}</td>
                                    <td>{{timesago fecha_solicitud}}</td>
                                    <td>{{estado}}</td>
                                    <td>{{nombre_cargo}}</td>
                                    <td>{{nombre}} {{p_apellido}} {{s_apellido}}</td>
                                    <td>{{timesago fecha_solicitud}}</td>
                                    <td>{{horas}} Horas</td>
                                    <td>{{fecha_salida}}</td>
                                    <td><a href="/permits/admDownload/{{id}}" class="btn btn-block btn-principal"><i
                                                class="material-icons">
                                                get_app
                                            </i></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{else}}
                    <p class=" text-center"> No hay registros</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>