<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center">Permisos</h1>
        <hr class="my-1">
        {{#if data}}
        <p class="text-center"><a class="btn btn-principal" href="/permits/userNewRegister">¿Necesitas un permiso?</a></p>
        {{/if}}
    </div>
    <div class="row">
        {{#each data}}
        <div class="col-md-3">
            <div class="card ">
                <div class="card-head jumbo p-4">
                    <h3 class="card-title text-center text-uppercase">
                        {{titulo}}
                    </h3>
                </div>
                <div class="card-body">
                    <p>Motivo: <span>{{descripcion}}</span></p>
                    <P>{{informacion_estado}}</P>
                    <p>Fecha de salida: <span>{{fecha}}</span></p>
                    <p>Hora de salida: {{hora_salida}} am/pm</p>
                    <p>Duración del permiso: {{horas}} horas</p>
                    <p>Permiso solicitado: {{timesago fecha_solicitud}}</p>
                    <a href="/permits/userEdit/{{id}}" class="btn btn-principal">Editar</a>
                    <a href="/permits/userDelete/{{id}}" class="btn btn-secondary">Borrar</a>
                </div>
            </div>
        </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No existen permisos</p>
                    <a href="/permits/userNewRegister">¿Necesitas un permiso?</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>