<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Editar informacion</h3>
                </div>
                <div class="card-body">
                    <form action="/perfil/editar" method="POST">
                    <div class="form-group">
                        <p class="text-left" >Tipo de teléfono</p>
                            <select  name="tipo_telefono">
                                <option value="1">Celular</option>
                                <option value="2">Casa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p>Número telefónico</p>
                            <input type="number" name="numero" class="form-control" placeholder="{{dataNumero.numero}}" class="form-control" autofocus>
                        </div>
                       <div class="form-group">
                        <p class="text-left" >Provincia</p>
                            <select  name="codigo_provincia" >
                                {{#each provincia}}
                                <option value="{{codigo_provincia}}">{{nombre_provincia}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                        <p class="text-left" >Canton</p>
                            <select  name="codigo_canton" >
                                {{#each canton}}
                                <option value="{{codigo_canton}}">{{nombre_canton}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                        <p class="text-left" >Distrito</p>
                            <select  name="codigo_distrito" >
                                {{#each distrito}}
                                <option value="{{codigo_distrito}}">{{nombre_distrito}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <p>Dirección</p>
                            <input type="text" name="direccion" class="form-control" placeholder="{{dataDireccion.direccion}}" class="form-control" >
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Actualizar datos</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div  >
</div>
