<div class="container">
    <div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-title jumbo p-4">
                    <h2>Borrar permiso</h2>
                </div>
                <div class="card-body">
                    <h4>Hola</h4>
                    <p><span>{{data.nombre}} {{data.p_apellido}} {{data.s_apellido}}</span></p>
                    <h4>Fecha de contratación: </h4>
                    <p><span>{{data.fecha_contrato}}</span></p>
                    <h4>Fecha de despido</h4>
                    <p><span>{{data.fecha_despido}}</span></p>
                    <h4>Motivo del despido</h4>
                    <p><span>{{data.descripcion}}</span></p>
                    <h4>Más información: </h4>
                    <p><a href="http://localhost:4000/uploads/{{data.url_documento}}">consultar</a></p>
                    <p>Si desea comunicarse con la Administradora, por favor dirijase a la farmacia o llame al número 70321010 </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>