<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center">Información del perfil</h1>
        <p class="lead text-center">Información del nuevo empleado {{data.nombre}}</p>
        <hr class="my-1">
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4>Nombre completo:</h4>
                    <p><span>{{data.nombre}} {{data.p_apellido}} {{data.s_apellido}}</span></p>
                    <h4>Número de cédula</h4>
                    <p><span>{{data.cedula}}</span></p>
                    <h4>Fecha de contratación</h4>
                    <p><span>{{data.fecha_contrato}}</span></p>
                    <h4>Edad</h4>
                    <p><span>{{data.edad}} años</span></p>
                    <h4>Correo electrónico</h4>
                    <p><span>{{data.correo}}</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/users/admEditNewUser/{{data.id}}" method="POST">
                        <p>Cargo que desempeñará</p>
                        <div class="form-group">
                            {{!-- <input required type="radio" name="tipo_empleado" value="1"> Administrador<br> --}}
                            <input required type="radio" name="tipo_empleado" value="2"> Doctor<br>
                            <input required type="radio" name="tipo_empleado" value="3"> Dependiente<br>
                            <input required type="radio" name="tipo_empleado" value="4"> Mensajero<br>
                        </div>
                        <div class="form-group">
                            <p>Salario por hora</p>
                            <input type="number" class="form-control" name="salario_hora"
                                placeholder="Salario del trabajador por hora laboral" required>
                        </div>
                        <div class="form-group">
                            <p>Jornada diaria</p>
                            <input type="number" class="form-control" name="jornada" placeholder="Horas que trabajará por día"required>
                        </div>
                        <p>Tipo de empleado</p>
                        <div class="form-group">
                            <input required type="radio" name="temporal" value="1"> permanente<br>
                            <input required type="radio" name="temporal" value="0"> temporal<br>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-principal btn-block">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>