<div class="container p-4">
    <div class="jumbotron jumbo">
        <h1 class="display-4 text-center">Despido del trabajador</h1>
        <hr class="my-1">
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card-body">
                <div class="form-group">
                    <h4>Nombre del trabajador:</h4>
                    <P>{{dataUser.nombre}} {{dataUser.p_apellido}} {{dataUser.s_apellido}}</P>
                    <h4>Cargo que desempeña</h4>
                    <p>{{dataRole.nombre_cargo}}</p>
                    <h4>Información salarial</h4>
                    <p>Salario por hora: ₡ <span>{{dataSalary.salario_hora}}</span></p>
                    <p>Jornada diaria: <span>{{dataSalary.jornada}}</span> horas</p>
                    <h4>Compensación salarial</h4>
                    <p>{{payMessage}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Información adicional</h3>
            <form action="/users/admDeleteUser/{{dataUser.id}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" name="descripcion"  maxlength="100" placeholder="Motivo del despido"
                        required>
                </div>
                <div class="form-group">
                    <label for="">Adjuntar archivo</label>
                    <input type="file" class="form-control-file" name="url_documento"  maxlength="100" placeholder="adjuntar un archivo"
                        required>
                </div>
                <div class="form-group">
                    {{!-- CONFIRMAR --}}
                    <button type="button" class="btn btn-principal btn-block" data-toggle="modal"
                        data-target="#confirmarRetencion">
                        Aceptar
                    </button>
                    <div class="modal fade" id="confirmarRetencion" tabindex="-1" role="dialog"
                        aria-labelledby="confirmarRetencion" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="exampleModalLongTitle">
                                        <i class="material-icons">
                                            warning
                                        </i> Importante</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Estás a punto de <span class="text-danger"><b>despedir</b></span>
                                    a {{dataUser.nombre}} {{dataUser.p_apellido}} {{dataUser.s_apellido}}.
                                    El cúal ha cumplido la labor de {{dataRole.nombre_cargo}} por {{dataPayOff.dias}} días. <br>
                                    ¿Desea continuar?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" title="Cancelar"
                                        data-dismiss="modal"><i class="material-icons">
                                            clear
                                        </i></button>
                                    <button type="submit" title="Confirmar" class="btn btn-danger"><i class="material-icons">
                                            done
                                        </i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- CONFIRMAR --}}
                </div>
            </form>
        </div>
    </div>
</div>