<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header jumbo">
                    <h3>Informacion adicional</h3>
                </div>
                <div class="card-body">
                    <form action="/users/userEditMoreInfo" method="POST">
                        <div class="form-group">
                            <p class="text-left">Tipo de teléfono</p>
                            <select name="tipo_telefono">
                                <option value="1">Celular</option>
                                <option value="2">Casa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" name="numero" class="form-control" value="{{dataNumero.numero}}" placeholder="{{dataNumero.numero}}"
                                class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Provincia</p>
                            <select name="codigo_provincia" id="provincias" onchange="fnProvincia(this.value)" required>
                                {{#each dataProvincia}}
                                <option  id="idP" value="{{codigo_provincia}}">{{nombre_provincia}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Canton</p>
                            <select  name="codigo_canton" class="sel" onchange="fnCanton(this.value)" id="idCanton" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Distrito</p>
                            <select  name="codigo_distrito" class="sel" id="idDistrito" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="direccion" class="form-control"
                                placeholder="{{dataDireccion.direccion}}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="">Fecha de nacimiento</label>
                            <input type="date" value="{{dataUsuario.fecha}}" name="fecha_nacimiento"
                                class="form-control" placeholder="Fecha nacimiento" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-principal btn-block">Actualizar datos</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/direction.js"></script>
